@font-face {
    font-family: 'Junegull';
    src: local('Junegull-Regular'), url('junegull-regular.woff2') format('woff2'), url('junegull-regular.woff') format('woff'), url('junegull-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
