body {
  overflow-x: hidden;
}

.pixi {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
/*  cursor: none;*/
}

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.ng-hide {
  display: none;
}

.check-element {
  padding: 10px;
  border: 1px solid black;
  background: white;
}

.box {
  z-index: 1000;
  position: absolute;
  bottom: 0;
  background-color: #FFF;
  padding: 5px 10px;
}

.box.right {
  right: 0;
  border-radius: 5px 0 0;
}

.chat-open-button {
  opacity: .8;
  position: absolute;
  bottom: 36px;
  cursor: pointer;
}

.chat-input-box {
  position: absolute;
  left: 48px;
  bottom: 44px;
  color: #777;
}

.chat-input {
  opacity: .8;
  background: transparent;
  color: #FFF;
  border: none;
  width: 300px;
  z-index: 1;
  padding: 5px;
  font-size: 14pt;
  border-radius: 2px;
  font-family: fantasy;
  font-weight: bold;
}

.chat-messages {
  opacity: .8;
  position: absolute;
  left: 8px;
  bottom: 66px;
  font-size: 14pt;
  font-family: fantasy;
  width: 340px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-family: Open Sans;
}

.chat-messages .author {
  color: #F0F;
  font-size: 10pt;
}

.chat-history {
  max-width: 300px;
  max-height: 200px;
  overflow: auto;
}
