<!doctype html>
<html lang="en" ng-app="thegame" ng-csp>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Браузерная многопользовательская аркадная онлайн игра по мотивам agario. Собирай еду, поедай других игроков, становись больше всех! Ешь, расти, доминируй!">
    <meta name="keywords" content="cellwar, cell war, xyz, war, battle, agario, agar, cell, cells, virus, bacteria, game, games, web game, html5, fun, js, браузерная, онлайн, игра">
    <title>Cell War</title>

    <!-- angular -->
    <script src="bower_components/angular/angular.min.js"></script>

    <!-- angular-animate -->
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>

    <!-- angular-bootstrap -->
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />

    <!-- angular-ui-router -->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- ngjs-color-picker -->
    <script src="bower_components/ngjs-color-picker/js/ngjs-color-picker.js"></script>
    <link rel="stylesheet" href="bower_components/ngjs-color-picker/css/ngjs-color-picker.css" />

    <!-- ngstorage -->
    <script src="bower_components/ngstorage/ngStorage.min.js"></script>

    <!-- sprintf -->
    <script src="bower_components/sprintf/dist/sprintf.min.js"></script>
    <script src="bower_components/sprintf/dist/angular-sprintf.min.js"></script>

    <!-- pixi -->
    <script src="bower_components/pixi.js/bin/pixi.min.js"></script>

    <!-- pixi-multistyle-text  -->
    <script src="node_modules/pixi-multistyle-text/pixi-multistyle-text.min.js"></script>

    <!-- jBinary -->
    <script src="libs/jDataView/jdataview.js"></script>
    <script src="libs/jBinary/jbinary.js"></script>

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="fonts/abeezee/abeezee.css" />
    <link rel="stylesheet" type="text/css" href="fonts/junegull/junegull.css" />
    <link rel="stylesheet" type="text/css" href="fonts/opensans/opensans.css" />

    <!-- Application -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="huerbuer.js"></script>
    <script src="config.js"></script>

    <script>
//      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
//      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
//      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
//      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
//      ga('create', 'UA-78362167-1', 'auto');
//      ga('send', 'pageview');
    </script>

  </head>
  <body ng-keydown="keyDown($event)" ng-keyup="keyUp($event)">
    <div class="pixi" pixi pixi-width="pixiWidth" pixi-height="pixiHeight" pixi-options="pixiOptions" pixi-renderer-type="'auto'">
    </div>
    <div class="chat">
      <img class="chat-open-button" src="img/chat.png" ng-click="toggleChat()" />
      <div class="chat-input-box">
        <input id="chat-input" class="chat-input" type="text" maxlength="128" ng-model="chatInput" ng-show="chatMode">
        <div ng-show="!chatMode">
          Press Enter to chat.
        </div>
      </div>
      <div class="chat-messages">
        <div uib-alert ng-repeat="msg in chatMessages" class="alert-success" close="closeMessage($index)" dismiss-on-timeout="10000">
          <span class="author">{{msg.author}}</span>
          <span>{{msg.text}}</span>
        </div>
      </div>
    </div>
    <div data-ui-view></div>

    <footer class="box right">
      <div ng-controller="chatHistoryCtrl">
        <div class="chat-history" ng-show="chatHistoryVisible">
          <div ng-repeat="msg in chatHistory">
            <span>{{msg.author}}</span>: <span>{{msg.text}}</span>
          </div>
        </div>
      </div>

      <center>
        <a ui-sref="about">About</a>
        |
        <a ui-sref="changelog">Changelog</a>
        |
        <a ui-sref="todo">TODO</a>
        |
        <a href="/partners.html">Partners</a>
      </center>
      <div class="btn btn-info" ng-click="chatHistoryVisible=!chatHistoryVisible">Chat History</div>
    </footer>

    <script type="text/ng-template" id="startDialog.html">
      <div class="modal-header">
        <h3>cellwar.xyz</h3>
        <div>
          <span>v 0.3.9.368</span>
          <span style="color:red;">alpha</span>
        </div>
        <div style="color:yellow;background:#555;">
          <span>
            Розробку припинено. Гра буде доступна до кінця жовтня 2016 року. На цій сумній ноті поспішаю відкланятися.
          </span>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <input type="text" class="form-control" placeholder="Nick" maxlength="16" autofocus ng-model="name" ng-disabled="!playStatus">
          </div>
          <div class="row">
            <div class="col-lg-6">
              <ngjs-color-picker selected-color="color" options="colorPickerOptions" ng-disabled="!playStatus"></ngjs-color-picker>
            </div>
            <div class="col-lg-6">
              <button class="btn btn-primary" ng-click="play()" ng-disabled="!playStatus">Play</button>
              <button class="btn btn-info" ng-click="spectate()" ng-disabled="!playStatus">Spectate</button>
            </div>
          </div>
          <div class="row">
            <div>Move your mouse to control your cell</div>
            <div>Press Space to split</div>
            <div>Press W to eject some mass</div>
          </div>
        </div>
      </div>
    </script>

    <script type="text/ng-template" id="connectionLossDialog.html">
      <div class="modal-header">connection loss</div>
      <div class="modal-body">
        <div class="btn btn-primary" ng-click="ok()">try again</div>
      </div>
    </script>

  </body>
</html>

