<div class="row">
  <div class="col-lg-10"></div>
  <div class="col-lg-2">
    <div>
      <button type="button" class="btn btn-info pull-right" ng-click="show=!show">
        <span class="glyphicon glyphicon-cog"></span>
      </button>
    </div>
    <div class="clearfix"></div>
    <div class="bg-info" ng-if="show">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="(id, player) in players" ng-click=spectate(id)>
          <span>{{player}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>

