<div class="panel panel-default">
  <div class="panel-body">

    <div class="panel panel-info">
      <div class="panel-body">
        Поки що дуже багато косяків, але я над ними працюю :)</br>
        </br>
        1. Оптимізація малювання їжі.</br>
        2. Лагокомпенсація.</br>
        </br>
        1. Показувати для кімнати онлайн/все/максимум</br>
        2. Показувати позицію гравця у рейтингу</br>
        3. Передзавантаження шрифтів</br>
        4. Мінікарта</br>
        5. Баланс</br>
        6. Position-based фізика</br>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" ui-sref="play">Назад</button>
    </div>
  </div>
</div>
